.headline{
    font-size:30px;font-weight:bold;
    padding-left:10%;padding-right:10%;
    margin-bottom:15px;text-align:center;
    background-color:lightskyblue;
}
.list{  
    padding-left:10%;padding-right:10%;
    margin-bottom:15px;text-align:left;
    font-size:20px;font-weight:400px;

}
.title{
    margin-top:15px;margin-bottom:15px;
    font-size:20px;font-weight:400px;
    width:100%;

}
.content{
    font-size:18px;font-weight:400px;
    width:100%;
}
